# Logs
logs
*.log
npm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Build
lib/

# IDEs
.idea/
.vscode/

# Platform specific
.DS_Store
desktop.ini
thumbs.db
